header {
    position: relative;
    width: 100%;
    z-index: 4;

    &::before {
        @include pseudo;
        left: auto;
        background-image: url('../../assets/images/wavesLight.svg');
        background-size: cover;
        width: 9em;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        z-index: 1;
        transform: translate(18%, 0%);

        @media screen and (min-width: $smUp) {
            transform: translate(14%, 0%);
        }
        
        .theme-dark & {
            background-image: url('../../assets/images/wavesDark.svg');
        }
    }

    &.background {
        height: 2em;
        background-color: $white;

        .theme-dark & {
            background-color: $dark;
        }
    }

    .logo-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(2em, 2em);
        z-index: 3;
    }

    .side-nav-wrap {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        max-width: 213px;
        z-index: 3;

        .theme-dark & {
            &::before {
                background-image: url('../../assets/images/wavesDark.svg');
            }
        }
    }

    .menuBtn {
        position: fixed;
        right: 0;
        top: 48%;
        display: flex;
        height: 60px;
        align-items: center;
        width: 5em;
        border: none;
        z-index: 3;
        transform: translate(0, -50%);

        &::before,
        &::after {
            @include pseudo;
            left: auto;
            width: 2.25em;
            height: 0.2em;
            background-color: $white;
            border-radius: 1em;
            transform: translate(-1em, 0) rotate(0deg);
            transition: transform $quick;
            transform-origin: left;

            .theme-dark & {
                background-color: $primaryDark;
            }

            @media screen and (min-width: $smUp) {
                width: 2.5em;
                transform: translate(-1em, 0) rotate(0deg);
            }
        }

        &::before {
            top: 2vh;
        }

        &::after {
            top: 4vh;
        }

        &:hover,
        &.open {   
            &::before {
                transform: translate(-1.5vw, 50%) rotate(35deg);

                @media screen and (min-width: $smUp) {
                    transform: translate(-1vw, 50%) rotate(35deg);
                }
            }

            &::after {
                transform: translate(-1.5vw, 50%) rotate(-35deg);

                @media screen and (min-width: $smUp) {
                    transform: translate(-1vw, 50%) rotate(-35deg);
                }
            }
        }

        &.open {
            &::before,
            &::after {
                background-color: $primaryLight;

                .theme-dark & {
                    background-color: $primaryDark;
                }
            }
        }
    }
}