.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: $primaryLight;

    &:before {
        content: '';
        position: absolute;
        background-color: $white;
        width: 0.2em;
        height: 30vh;
        bottom: 0;
        left: 0;
        z-index: 1;
        transform: translate(4vw, 0);
    }

    &:after {
        content: '';
        background-image: url('../../assets/images/hero-pattern-light.svg');
        background-size: cover;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 48%;
        height: 0;
        padding-bottom: 86%;
        z-index: 1;

        @media screen and (min-width: $medUp) {
            width: 30%;
            padding-bottom: 50%;
        }

        .theme-dark & {
            background-image: url('../../assets/images/hero-pattern-dark.svg');
        }
    }
    
    .theme-dark & {
        background-color: $primaryDark;
    }

    .text-box-container {
        display: flex;
        align-items: center;
        height: 100vh;
        transition: width $quick;
    }

    .text-wrapper {
        padding-left: 10vw;
        color: $white;
    }

    .hero-title {
        padding-bottom: 0.25em;
        font-family: $montserrat;
        font-weight: 400;
        font-size: 4em;
        transition: font-size $quick;

        @media screen and (max-width: $medDown) {
            font-size: 3em;
        }

        @media screen and (max-width: $xsDown) {
            font-size: 2em;
        }

        &::after {
            content: '.';
            color: $secondaryLight;
            font-size: 1.875em;
            line-height: 0;

            .theme-dark & {
                color: $secondaryDark;
            }
        }
    }

    .hero-subtitle {
        font-family: $sourceCode;
        font-weight: $light;
        font-size: 1.25em;
        transition: font-size $quick;

        @media screen and (max-width: $xsDown) {
            font-size: 1em;
        }
    }

    .btn-scroll {
        background-image: url('../../assets/images/chevron.svg');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2em;
        width: 2em;
        color: $white;
        border: 1px solid $white;
        border-radius: 90px;
        transform: translate(22vw, -5vw);
        font-family: $sourceCode;
        font-size: 1em;
        z-index: 1;
        transition: 1s box-shadow;

        &::after {
            content: 'scroll';
            display: block;
            transform: translate(0em, -3em) rotate(-90deg);
        }
    }
}