.scroll-tracker {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    height: 50vh;
    padding: 0.1em;
    background: transparent;
    z-index: 9;
    transform: translate(0.5em, 25vh);
    transition: background $slow;

    @media screen and (min-width: $smUp) {
        transform: translate(2em, 25vh);
    }

    &.scrolled {
        background: linear-gradient(to bottom, rgba($tertiaryLight, 0.75), calc(var(--scroll, 0) * 100%), transparent 0);

        .theme-dark &{
            background: linear-gradient(to bottom, rgba($quaternaryDark, 0.75), calc(var(--scroll, 0) * 100%), transparent 0);
        }
    }
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent;  
    scrollbar-width: none;
    -ms-overflow-style: none;
}
