.project-modal {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1157.892' height='2114.788' viewBox='0 0 1157.892 2114.788'%3E%3Cpath id='Path_231' data-name='Path 231' d='M7545.47-1341.361c144.426,29.962,158.872,81.173,255.211,49.908s131.175-81.152,242.574-51.52,159.781,45.725,142.258,319.728c-16.068,251.261-100.787,305.613-75.249,522.371s43.86,219.739,80.429,482.405,3.133,497.061-120.686,647.033c-73.394,72.094-247.348,81.559-381.149,53.792s-116.9-138.76-343.085-193.1S7197.532,204.414,7211.323-13.281c7.143-112.766,92.5-300.415,103.246-574.159,10.037-255.67-83.524-309.948-26.509-498.561S7401.044-1371.322,7545.47-1341.361Z' transform='matrix(0.998, -0.07, 0.07, 0.998, -7075.403, 1921.07)' fill='%23fff'/%3E%3C/svg%3E%0A");    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100vh;
    filter: drop-shadow(-1px 9px 5px rgb(0 0 0 / 0.1));
    transform: translate(-50%, -50%);
    z-index: 5;

    @media screen and (max-width: $xxxsDown) {
        background-color: $white;
        background-image: none;
    }

    @media screen and (min-width: $xsUp) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1077.557' height='1594.956' viewBox='0 0 1077.557 1594.956'%3E%3Cpath id='Path_231' data-name='Path 231' d='M7588.16-1342.812c109.731,41.615,185.293,76.909,236.613,57.659s113.417-72.535,184.977-53.482,86.49,111.222,68.966,315.365,121.5,478.118,102.153,645.972c-9.453,171.691-27.156,355.635-150.972,467.37-73.394,53.713-317.811,136.6-368.543,44.714-68.469-98.3-88.983-117.267-166.66-127.462C7263,19.3,7197.532-193.126,7211.323-355.318c7.143-84.015,135.085-189.952,145.832-393.9,10.037-190.484-83.984-366.2-69.1-405.317C7349.84-1316.857,7478.431-1384.427,7588.16-1342.812Z' transform='matrix(0.998, -0.07, 0.07, 0.998, -7097.508, 1922.308)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }

    @media screen and (min-width: $smUp) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='873.342' height='894.699' viewBox='0 0 873.342 894.699'%3E%3Cpath id='Path_231' data-name='Path 231' d='M7588.16-1354.031c109.731,22.433,185.293,41.459,236.613,31.082s116.814-47.988,159.252-43.169,112.215,74.294,94.691,184.34-37.761,233.771-57.105,324.255c-9.453,92.552-17.865,241.752-141.681,301.984-73.394,28.955-167.844,47.556-218.576-1.974-68.469-52.991-88.983-63.214-166.66-68.71-231.7,6.459-239.589-61.771-225.8-149.2s32.4-449.047,63.285-492.8C7393.962-1355.724,7478.431-1376.464,7588.16-1354.031Z' transform='matrix(0.998, -0.07, 0.07, 0.998, -7151.71, 1926.949)' fill='%23fff'/%3E%3C/svg%3E%0A");
        width: 90%;
    }

    @media screen and (min-width: $medUp) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1628.992' height='1352.458' viewBox='0 0 1628.992 1352.458'%3E%3Cpath id='Path_231' data-name='Path 231' d='M7985.078-1323.472c136.978,68.5,199.745,157.677,312.771,138.967s211.534-142.459,297.545-154.017,199.337,22.652,239.755,154.181S8730.1-927.628,8683.194-788.775s29.791,241.182,44.149,315.225,17.378,372.41-316.152,328.739c-140.737-24.106-154.79-128.639-266.522-217.943-150.793-95.542-341.779-61.858-466.056,29.146-204.738,149.925-293.277,32.506-346.261-24.213s-56.862-297.519,53.906-430.751-62.1-336.72,73.96-494.485S7848.1-1391.969,7985.078-1323.472Z' transform='matrix(0.998, -0.07, 0.07, 0.998, -7181.83, 2001.558)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }

    .inner-wrapper {
        position: relative;
    }

    .close-btn {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48.859' height='37.573' viewBox='0 0 48.859 37.573'%3E%3Cg id='Group' transform='translate(2.413 2.414)'%3E%3Cpath id='Line_2' data-name='Line 2' d='M0,8.559,46.944,0' transform='matrix(0.839, -0.545, 0.545, 0.839, 0, 25.568)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Line_2_Copy' data-name='Line 2 Copy' d='M0,0,46.324,7.946' transform='matrix(0.839, 0.545, -0.545, 0.839, 4.848, 0.541)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: 50% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 2em;
        top: 2em;
        width: 3em;
        height: 3em;
        border-radius: 2em;
        border: 2px solid $white;
        filter: drop-shadow(2px 2px 3px rgba($black, 0.6));

        @media screen and (max-width: $xxxsDown) {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48.859' height='37.573' viewBox='0 0 48.859 37.573'%3E%3Cg id='Group' transform='translate(2.413 2.414)'%3E%3Cpath id='Line_2' data-name='Line 2' d='M0,8.559,46.944,0' transform='matrix(0.839, -0.545, 0.545, 0.839, 0, 25.568)' fill='none' stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Line_2_Copy' data-name='Line 2 Copy' d='M0,0,46.324,7.946' transform='matrix(0.839, 0.545, -0.545, 0.839, 4.848, 0.541)' fill='none' stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
            border-color: $black;
        }

        @media screen and (min-width: $smUp) {
            left: 0;
            top: 4em;
        }
    }

    .dialog-content {
        display: flex;
        place-items: center;
        position: relative;
        height: 64vh;
        width: 60vw;
        max-width: 750px;
        margin: 18vh auto;

        @media screen and (min-width: $xsUp) {
            width: 50vw;
            height: 60vh;
        }
        @media screen and (min-width: $smUp) {
            width: 60vw;
        }
        @media screen and (min-width: $medUp) {
           height: 45vh;
           margin: 24vh auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap; 

            @media screen and (min-width: $medUp) {
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            .col {
                &:last-of-type {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 3em;
                    width: 100%;
                    justify-content: space-between;

                    @media screen and (max-width: $smDown) {
                        flex-direction: column;
                    }  

                    @media screen and (min-width: $smUp) {
                        align-items: self-end;
                    }

                    @media screen and (min-width: $medUp) {
                        flex-direction: column;
                        align-items: center;
                        text-align: center; 
                        width: 20%;
    
                        p {
                            margin-bottom: 0.5em;
                        }
                    }
                }
                              
                &:first-of-type {
                    @media screen and (min-width: $medUp) {
                        width: 65%;
                    }
                }

                ul {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 30px;

                    @media screen and (min-width: $medUp) {
                        flex-wrap: wrap;
                        gap: 25px 4%;

                        li {
                            width: 48%;
                            display: flex;
                            place-content: end;
                            place-items: center;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    img {
                        width: 32px;
                        margin: auto;
                    }
                }    
            }
        }

        h2 {
            font-size: 1.5em;
            font-weight: $semibold;
            margin-bottom: 1.5em;

            @media screen and (max-width: 353px) {
                &::after {
                    transform: translateY(3.2em);
                }
            }
        }

        .desc {
            font-size: 0.875em;
            margin-bottom: 3em;
        }    
        
        .roles {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 3em;

            @media screen and (min-width: $medUp) {
                margin-bottom: 0;
            }

            p:not(:last-of-type) {
                margin-bottom: 1.5em;
            }

            p {
                @media screen and (min-width: $medUp) {
                    width: 50%;
                    font-size: 0.875em;
                }
            }
        }

        span {
            font-weight: $semibold;
            margin-right: 1em;   
        }

        .button-col {
            max-width: 135px;
            
            @media screen and (min-width: $smUp) {
                display: flex;
                max-width: none;
            }
        }

        .button-wrapper {
            border: 2px solid $secondaryLight;
            box-shadow: 2px 2px 6px 0px rgba($black, 20%);
            background: $white;
            border-radius: 1em;
            padding: 0.2em 1em;
            text-align: left;

            .theme-dark & {
                border-color: $fiveDark; 
            }

            @media screen and (min-width: $medUp) {
                width: 100%;
            }

            a {
                position: relative;
                cursor: pointer;
                pointer-events: all;
                color: $black;
                font-family: $montserrat;
                z-index: 1;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    white-space: nowrap;

                    @media screen and (min-width: $smUp) {
                        gap: 1em;
                    }

                    img {
                        max-width: 20px;
                    }
                }
            }
        }
    }
}