.gallery-container {
    margin: 0 auto;
    width: 85%;

    @media screen and (min-width: $xsUp) {
        width: 70%;
    }

    @media screen and (min-width: $medUp) {
        max-width: 1200px;
    }

    .filter-bar {
        grid-row: 2;
        display: grid;
        padding-bottom: 2em;
        align-items: center;
        align-content: center;
        
        .tabs-wrapper {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: flex-start;

            @media screen and (min-width: $smUp) {
                grid-template-columns: repeat(3, 1fr) 60%;
            }
        }

        .tab {
            padding: 0.5em 1.5em;
            border: none;
            font-family: $sourceCode;
            font-weight: $regular;
            font-size: 1em;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: $black;

            @media screen and (max-width: $medDown) {
                padding: 0.5em 1em;
                font-size: 0.875em;
            }

            &.active {
                background-color: $primaryLight;
                color: $white;

                .theme-dark & {
                    background-color:$accessibleDark;
                }
            }
        }
    }

    .section-title {
        grid-row: 1;
        margin-bottom: 0;
        justify-self: flex-end;
    }

    .project-grid {
        grid-row: 3;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        text-align: center;

        @media screen and (min-width: $smUp) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: $medUp) {
            grid-template-columns: repeat(4, 1fr);
        }

        // &.show_all {

        // }

        // &.show_websites {

        // }

        // &.show_designs {

        // }

        // &.show_art {

        // }
    }

    .project-btn {
        -webkit-appearance: none;
        appearance: none;
    }

    .project-item {
        position: relative;
        min-height: 187px;

        @media screen and (min-width: $xlarge) {
            max-height: 270px;
        }

        // &.active-thumb {
        //     background-position: top;
        //     grid-column: 2 / span 2;
        //     grid-row: span 3;

        //     @media screen and (min-width: $smUp) {
        //         grid-column: 3 / span 3;
        //         grid-row: span 4;
        //     }
        // }
    }

    .project-image {
        position: absolute;
        left: 0;
        top: 0;
        border: none;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        // border-radius: 15px;  
    }
}