.services-container {
  display: grid;
  grid-gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media screen and (min-width: $medUp) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
    padding: 0 4em;
  }

  @media screen and (min-width: $large) {
    max-width: 1000px;
    margin: 0 auto;
  }

  h3 {
    display: flex;
    justify-content: center;
    margin: 2em auto 0.5em auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 0.125em;

    @media screen and (min-width: $medUp) {
      font-size: 1.25em;
      min-height: 45px;
      max-width: 250px;
    }
  }

  p {
    line-height: 1.8;
    font-family: $montserrat;
    width: 100%;
    font-size: 0.875em;
    max-width: 320px;
    margin: auto;

    @media screen and (min-width: $medUp) {
      font-size: 1em;
      min-height: 300px;
      max-width: 800px;
    }

    span.desktopOnly {
      display: none;

      @media screen and (min-width: $medUp) {
        display: block;
      }
    }
  }

  .service-img-container {
    display: flex;
    justify-content: center;
    width: 3em;
    height: 3em;
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 90px;
    background-color: $tertiaryLight;

    @media screen and (min-width: $medUp) {
      padding: 1.875em;
    }

    .theme-dark & {
      background-color: $fiveDark;
    }
  }

  .svg-stroke {
    stroke: $white;
  }

  .path0,
  .path1,
  .path2,
  .path3 {
    animation: draw 3s linear infinite alternate;
  }

  .path0 {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
  }

  .path3 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
  }

  .path1 {
    stroke-dasharray: 40;
    stroke-dashoffset: 20;
  }

  .path2 {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
  }

  .path4 {
    animation: fill-reveal 3s forwards;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  .draw-fill {
    stroke-dasharray: 4000; /* length of the path — can overshoot */
    stroke-dashoffset: 4000;
    animation: draw 4s linear infinite alternate;
  }

  /* Draw path */
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  /* Fill in after drawing completes */
  @keyframes fillIn {
    from {
      fill: none;
    }
    to {
      fill: #fff;
    }
  }
}
