@use "../base/variables" as *;
.services-container {
  display: grid;
  grid-gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @media screen and (min-width: $medUp) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
    padding: 0 4em;
  }

  @media screen and (min-width: $large) {
    max-width: 1000px;
    margin: 0 auto;
  }

  h3 {
    display: flex;
    justify-content: center;
    margin: 2em auto 0.5em auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 0.125em;

    @media screen and (min-width: $medUp) {
      font-size: 1.25em;
      min-height: 45px;
      max-width: 250px;
    }
  }

  p {
    line-height: 1.8;
    font-family: $montserrat;
    width: 100%;
    font-size: 0.875em;
    max-width: 320px;
    margin: auto;

    @media screen and (min-width: $medUp) {
      font-size: 1em;
      min-height: 300px;
      max-width: 800px;
    }

    span.desktopOnly {
      display: none;

      @media screen and (min-width: $medUp) {
        display: block;
      }
    }
  }

  .service-img-container {
    display: flex;
    justify-content: center;
    width: 3em;
    height: 3em;
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 90px;
    background-color: $tertiaryLight;

    @media screen and (min-width: $medUp) {
      padding: 1.875em;
    }

    .theme-dark & {
      background-color: $fiveDark;
    }
  }

  .svg-stroke {
    stroke: $white;
  }

  .path4 {
    fill: $white;
  }
}
