.services-container {
  display: grid;
  grid-gap: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media screen and (min-width: $medUp) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
    padding: 0 4em;
  }

  @media screen and (min-width: $large) {
    max-width: 1000px;
    margin: 0 auto;
  }

  h3 {
    display: flex;
    justify-content: center;
    margin: 2em auto 0.5em auto;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    font-weight: $semibold;
    text-transform: uppercase;
    letter-spacing: 0.125em;

    @media screen and (min-width: $medUp) {
      font-size: 1.25em;
      min-height: 45px;
      max-width: 250px;
    }
  }

  p {
    line-height: 1.8;
    font-family: $montserrat;
    width: 100%;
    max-width: 800px;
    margin: auto;

    @media screen and (min-width: $medUp) {
      font-size: 1em;
      min-height: 300px;
    }
  }

  .service-img-container {
    display: flex;
    justify-content: center;
    width: 4em;
    height: 4em;
    margin: 1em auto;
    padding: 1.875em;
    border-radius: 90px;
    background-color: $tertiaryLight;

    @media screen and (min-width: $medUp) {
      width: 3em;
      height: 3em;
      padding: 1.875em;
    }

    .theme-dark & {
      background-color: $fiveDark;
    }
  }

  .svg-stroke,
  .svg-fill {
    stroke: $white;
  }

  .svg-fill {
    stroke-width: 2;
  }

  .path0,
  .path1,
  .path2 {
    animation: draw 5s linear infinite alternate;
  }

  .path0 {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
  }

  .path1 {
    stroke-dasharray: 40;
    stroke-dashoffset: 20;
  }

  .path2 {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes draw2 {
    to {
      stroke-dashoffset: 0;
    }
  }
}
