.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr auto;
    grid-template-rows: 0.4fr .2fr 0.4fr 1fr 0.5fr;
    grid-gap: 3em;
    transition: grid-template-rows $quick, grid-template-columns $quick, grid-gap $quick;

    @media screen and (max-width: $smDown) {
        grid-template-columns: 1fr 0.75fr auto;
        grid-template-rows: 1fr 1fr auto;
        grid-gap: 1em;
        align-items: center;
    }

    .img-wrapper {
        transition: grid-row $quick, grid-column $quick;

        &.wrap-0 {
            grid-column: 1;
            grid-row: 1 / span 4;

            @media screen and (max-width: $smDown) {
                grid-column: 1;
                grid-row: 2;  
            }

            &:after {
                @include pseudo;
                right: auto;
                background-color: $lightBrown;
                width: 2em;
                height: 4em;
                transform: translate(-1em, -1em);
                z-index: 0;
            }
        }

        &.wrap-1 {
            grid-column: 2;
            grid-row: 3 / span 2;

            @media screen and (max-width: $smDown) {
                grid-column: 1;
                grid-row: 1;
            }

            &:after {
                @include pseudo;
                top: auto;
                background-color: $lightBrown;
                width: 4em;
                height: 1em;
                transform: translate(-1em, -1em);
                z-index: 0;
            }
        }

        .theme-dark & {
            filter: grayscale(1);
            
            &::before {
                content: none;
            }

            &::after {
                z-index: 2;
                filter: invert(1);
            }
        }
    }

    .img-wrapper {
        @include aspectRatioContainer(470px, 558px);
    }

    .stat-img {
        @include aspectRatioImage;
    }

    .stat-list {
        display: grid;
        grid-column: 3;
        grid-row: 2 / span 4;
        justify-content: center;
        text-align: right;
        color: $black;

        .theme-dark &{
            color: $white;
        }

        @media screen and (max-width: $smDown) {
            grid-column: 2;
            grid-row: 1 / span 3;
        }

        li {
            padding-bottom: 4em;

            @media screen and (max-width: $smDown) {
                padding-bottom: 3em;
            }

            @media screen and (max-width: $xsDown) {
                padding-bottom: 2em;
            }
        }
    }

    .stat-title {
        margin-left: auto;
        max-width: 140px;
        font-family: $sourceCode;
        font-size: 0.9375em;
        font-weight: $light;

        @media screen and (max-width: $smDown) {
            max-width: 120px;
            font-size: 0.8em;
        }

        @media screen and (max-width: $xsDown) {
            max-width: 90px;
            font-size: 0.6em;   
        }
    }

    .stat-num {
        font-family: $didot;
        font-size: 4em;

        @media screen and (max-width: $medDown) {
            font-size: 2.875em;
        }

        @media screen and (max-width: $smDown) {
            font-size: 2.5em;
        }

        @media screen and (max-width: $xsDown) {
            font-size: 2em;
        }
    }
}