.timeline-container {
    margin: 0 auto;
    width: 85%;

    @media screen and (min-width: $smUp) {
        width: 70%;
    }

    @media screen and (min-width: $medUp) {
        max-width: 700px;
    }

    @media screen and (min-width: $xxlarge) {
        max-width: 900px;
    }

    li {
        &:not(:last-of-type) {
            margin-bottom: 15vh;
        }
        &:nth-of-type(odd) {
            text-align: right;
        }
    }

    .year {
        font-size: 3em;
        font-family: $montserrat;
        font-weight: $semibold;
        color: $fiveLight;

        .theme-dark & {
            color: $fiveDark;
        }
    }

}