.timeline-container {
    position: relative;

    .img-wrapper {
        display: none;
        position: absolute;
        top: 0;
        height: calc(100vh + 100px);
        width: 100%;
        z-index: 0;

        @media screen and (min-width: $medUp) {
            display: block;
        }

        img {
            position: absolute;
            opacity: 0.4;
            width: 100%;
            max-width: 80px;
            
            @media screen and (min-width: $medUp) {
                opacity: 0.6;
                max-width: 130px;
                filter: grayscale(1);
            }

            &:first-of-type {
                top: 0;
                left: auto;
                right: 0;
                transform: scaleX(-1);    
            }

            &:nth-of-type(2) {
                top: 20vh;
                transform: scaleX(-1);
            }

            &:nth-of-type(3) {
                top: 80vh;
                left: auto;
                right: 0;
            }

            &:last-of-type {
                top: 120vh;
                right: auto;
                left: 0;
            }
        }
    }

    .inner-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15vw;
        margin: 0 auto;
        width: 80%;
        z-index: 1;

        @media screen and (min-width: $medUp) {
            max-width: 700px;
        }

        @media screen and (min-width: $xxlarge) {
            max-width: 900px;
        }
    }

    li {
        &:first-of-type {
            margin-top: 10vw;
        }
        @media screen and (min-width: $large){
            text-align: justify;
        }

        &:nth-of-type(odd) {
            @media screen and (min-width: $medUp) {
                margin-left: auto;
            }
        }
    }

    .summary, 
    .tools {
        max-width: 600px;
    }

    .summary {
        margin-top: 0.5em;
        font-size: 0.875em;
    }

    .tools {
        font-size: 0.875em;
        margin-top: 0.25em;
        font-weight: 600;
    }

    .year {
        font-size: 2em;
        font-family: $montserrat;
        font-weight: $semibold;
        color: $primaryLight;

        @media screen and (min-width: $medUp) {
            font-size: 3em;
        }

        .theme-dark & {
            color: $fiveDark;
        }
    }

    .link {
        color: $primaryLight;
        font-weight: 500;
        transition: font-weight $quick;

        .theme-dark & {
            color: $primaryDark;
        }

        &:hover,
        &:focus {
            font-weight: 600;
        }
    }

}