.typewriter-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.25em;
    padding-top: 7vh;
    text-align: center;

    @media screen and (min-width: $smUp) {
        grid-template-columns: 0.25fr auto 1fr;
    }

    @media screen and (min-width: $large) {
        text-align: left;
        grid-template-columns: 0.8fr auto 1fr;
    }  

    .typewriter {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;

        &.active {
            position: relative;
            opacity: 1;
        }
    }

    .type-wrapper {
        @media screen and (min-width: $smUp) {
            grid-column: 3;
        }   
    }

    .section-title {
        font-size: 2em;
        color: $black;

        @media screen and (min-width: $medUp) {
            font-size: 2.5em;
        }

        @media screen and (min-width: $xlarge) {
            font-size: 3em;
        }

        &.i-am {
            @media screen and (min-width: $smUp) {
                grid-column: 3;
            }

            @media screen and (min-width: $large) {
                grid-column: 2;
            }
        }
    }

    .type {
        position: relative;
        padding-left: 0.275em;

        @media screen and (max-width: $xxsDown) {
            padding-left: 0;
        }

        &::after {
            @include pseudo;
            top: auto;
            left: 0.25em;
            height: 0.12em;
            width: 100%;
            background-color: $secondaryLight;
            transform: translateY(0.35em);

            .theme-dark & {
                background-color: $fiveDark;
            }

            @media screen and (max-width: $xxsDown) {
                left: 0;
            }
        }
    }
}