.page-wrapper.blog {
	width: 100vw;
	overflow-x: hidden; // need this to remove white at bottom

	.hero-container,
	#maincontent > * {
		width: 100vw;

		@media screen and (min-width: $smUp) {
			height: 100vh;
		}
	}
    
    .blog-intro {
        position: relative;
        padding: 10em 0;
        margin: 0 auto;
        max-width: 600px;
    }
}