// ***********************************************//
// BASE STYLES
// ***********************************************//

@import './styles/base/reset';
@import './styles/base/variables';
@import './styles/base/globals';
@import './styles/base/imports';
@import './styles/base/keyframes';

// ***********************************************//
// COMPONENTS STYLES
// ***********************************************//

@import './styles/components/header';
@import './styles/components/footer';
@import './styles/components/pageWrapper';
// @import './styles/components/instafeed';
@import './styles/components/navigation';
@import './styles/components/theme';
@import './styles/components/weather';
@import './styles/components/progressBar';
@import './styles/components/hero';
@import './styles/components/typewriter';
@import './styles/components/about';
@import './styles/components/services';
@import './styles/components/projectGallery';
@import './styles/components/projectModal';
@import './styles/components/featured';
@import './styles/components/testimonials';
@import './styles/components/sectionScrollTab';
// @import './styles/components/instaPost';


// ***********************************************//
// PAGE STYLES
// ***********************************************//

@import './styles/pages/home';
@import './styles/pages/work';
@import './styles/pages/resume';