.fade-in {
    opacity: 1;
    transition: opacity $quick;
}

.fade-out {
    opacity: 0;
    transition: opacity $quick;
}

@keyframes fadeInRight {
    0% {opacity: 0; transform: translateX(20px);}
    5% {opacity: 0; transform: translateX(20px);}
    100% {opacity: 1; transform: translateX(0);}
}

@keyframes fadeInLeft {
    0% {opacity: 0; transform: translateX(-20px);}
    100% {opacity: 1; transform: translateX(0);}
}