#maincontent {
	position: relative;
	
    &::before {
        @include pseudo;
        bottom: auto;
        background-image: url('../../assets/images/hero-waves-light.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 0;
        padding-top: 40%;
        z-index: 0;
        transform: translate(0, -50%);

        .theme-dark & {
            background-image: url('../../assets/images/hero-waves-dark.svg');
        }
    }

    .inner-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2em;
    }
}

.page-wrapper {
    position: relative;
    background-color: $white;
    
    .inside-wrapper {
        position: relative;
        // overflow-y: auto;
        // overscroll-behavior-y: contain;
        // scroll-snap-type: y mandatory;
        // height: 100vh;
        // width: 100%;
    }
}

.hero-container,
.section-wrapper {
    height: 100vh;
    // scroll-snap-align: center;
}

.section-wrapper {
    position: relative;
    margin: 0 auto;
}

.section-title {
    font-size: 1.875em;
    font-family: $montserrat;
    color: $black;

    &:not(.i-am) {
        position: relative;
        margin-bottom: 2em;

        &::after {
            @include pseudo;
            width: 1em;
            height: 3px;
            border-radius: 90px;
            background-color: $primaryLight;
            transform: translate(0, 1.8em);

            .theme-dark & {
                background-color: $fiveDark;
            }
        }
    }
    
    @media screen and (min-width: $smUp) {
        font-size: 2.125em;
    }

    @media screen and (min-width: $xlarge) {
        font-size: 2.5em;
    }
}